/* HEADER */
.header {
  padding: 1rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  padding-block: 3rem;
  margin-inline: auto;
}

/* HEADER NAV */
.user-nav__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.user__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.user__uniquename {
  padding: 1.38rem 1.06rem 0rem 1.06rem;
}

.user__image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--brand-1);
}

.user__logout {
  position: absolute;
  top: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  background-color: var(--gray-9);
  border: 2px solid var(--gray-1);
  border-radius: var(--defaultRadius);
  box-shadow: 0px 4px 40px -12px rgba(0, 0, 0, 0.25);

  transition: all 150ms ease-in-out;

  width: 13rem;
}

.logout__button {
  color: var(--gray-4);
  background-color: var(--gray-7);

  display: flex;
  align-items: center;
  column-gap: 1.25rem;

  padding: 1.06rem;
  margin: 0;
  border: 1px solid transparent;

  height: 100%;
  width: 100%;
}

.logout__button:hover {
  color: var(--gray-1);
  background-color: var(--gray-7);
  transition: 0.2s;
}

.logout__icon {
  content: url(../assets/img/sign-out-alt-grey.svg);
}

.logout__button:hover > .logout__icon {
  content: url(../assets/img/sign-out-alt-black.svg);
}

/* FEED */
.feed__title {
  width: 108rem;
  height: 4rem;
  flex-shrink: 0;
  background-color: var(--gray-8);
}

/* POSTS */
.posts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.post__date {
  color: var(--gray-4);
}

.post__author-image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.post__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.post__content {
  color: var(--gray-3);
  word-break: break-all;
}

.post__content--feed {
  color: var(--gray-3);
  word-break: break-all;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__title,
.post__content {
  text-align: justify;
}

.post__open {
  color: var(--brand-1);
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--brand-2);
  font-weight: bold;
}

.post__open:hover {
  color: var(--brand-2);
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-1);
}

/* Modal */
.modal {
  display: none; /* Inicialmente oculto */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  z-index: 1000; /* Garante que o modal fique na parte superior */
  overflow: auto; /* Permite rolagem quando o conteúdo é longo */
  position: fixed;
  top: 0;
  left: 0;
}

.modal__title {
  margin-bottom: 1.75rem;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50rem;
  padding: 2rem 1.5rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.5rem;
  background: var(--grey-9, #fcfeff);
  flex-direction: column;
}

.modal__input {
  display: inline-flex;
  padding: 0.625rem 1.0625rem;
  width: -webkit-fill-available;
  align-items: flex-start;
  gap: 0.625rem;
}

.modal__textarea {
  display: flex;
  width: -webkit-fill-available;
  height: 7.5rem;
  padding: 0.625rem 1.0625rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal__buttons {
  display: flex;
  align-items: end;
  align-self: flex-end;
}

.modal__cancel {
  margin-top: 2.25rem;
  margin-right: 1rem;
}

.modal__close {
  display: inline-flex;
  height: 2rem;
  padding: 0.25rem 0.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  color: var(--gray-4);
  background: var(--gray-6);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.post-title {
  color: var(--gray-1);
  font-family: IBM Plex Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 2.25rem */
}

.post-content {
  margin-top: 2rem;
}

.modal-content {
  color: #495057;
  font-family: IBM Plex Sans;
  font-size: 1rem;
  font-style: normal;
  align-self: stretch;
  font-weight: 400;
  line-height: 150%;
}
